@model WebAppDulich.Areas.Admin.Models.CategoryNews.CategoryNewsRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="CategoryNews" asp-area="admin">Về danh sách</a>
        </div>

        <div class="card-body">
            <form asp-action="Edit" asp-controller="CategoryNews" asp-area="Admin" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label"> Tên danh mục</label>
                            <input asp-for="Name" id="txtName" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> URL</label>
                            <input asp-for="Url" id="txtUrl" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mô tả</label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thứ tự hiển thị</label>
                            <input asp-for="DisplayOrder" type="number" class="form-control" />
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            <select class="form-control" id="Status" asp-for="Status">
                                @if (Model.Status == 1)
                                {
                                    <option value="1" selected>Hoạt động</option>
                                    <option value="0">Khóa</option>
                                }
                                else
                                {
                                    <option value="1">Hoạt động</option>
                                    <option value="0" selected>Khóa</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Hiển thị trang chủ :  </label>
                            <input asp-for="ShowHomeInput" type="checkbox" />
                            <span asp-validation-for="ShowHomeInput" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
