
@{
    ViewData["Title"] = "TourBookingGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vnt-content">
    <div id="vnt-navation" class="breadcrumb">
        <div class="wrapper">
            <div class="navation">
                <ul><li><a href="@Url.Action("index","Home")">Trang chủ</a></li><li>Hướng Dẫn Đặt Tour</li></ul>
            </div>
        </div>
    </div>

    <div class="box_mid">
        <div class="wrapper">
            <div class="mid-title">
                <div class="title-main"><h1>Hướng Dẫn Đặt Tour</h1></div>
            </div>
            <div class="mid-content">
                <div class="desc">
                    <div>
                        <p>
                            <br>
                            &nbsp;
                        </p>
                    </div>

                    <div>
                        <div>
                            <div><img alt="hd-dat-tour1a" data-ck-zoom="yes" src="~/uploads/hd-dat-tour1a.jpg" style="width: 1180px; height: 500px;"></div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <div><img alt="hd-dat-tour2" data-ck-zoom="yes" src="~/uploads/hd-dat-tour2.jpg" style="width: 1180px; height: 500px;"></div>

                            <p>&nbsp;</p>
                        </div>

                        <div>
                            <div>
                                <div><img alt="hd-dat-tour3_2" data-ck-zoom="yes" src="~/uploads/hd-dat-tour3_2.jpg" style="width: 1180px; height: 500px;"></div>
                            </div>

                            <p>&nbsp;</p>
                        </div>

                        <div><img alt="hd-dat-tour4" data-ck-zoom="yes" src="~/uploads/hd-dat-tour4.jpg" style="width: 1180px; height: 500px;"></div>

                        <div>
                            <p>&nbsp;</p>

                            <div>
                                <div><img alt="hd-dat-tour5" data-ck-zoom="yes" src="~/uploads/hd-dat-tour5.jpg" style="width: 1180px; height: 500px;"></div>

                                <p>&nbsp;</p>
                            </div>

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

