@model WebAppDulich.Data.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật địa điểm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật tour</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Order" asp-area="admin">Về danh sách</a>
        </div>

        <div class="card-body">
            <form asp-action="Edit" asp-controller="Order" asp-area="Admin" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label"> Tên tour</label>
                            <input asp-for="TourName" id="txtName" class="form-control" />
                            <span asp-validation-for="TourName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Tên người đặt</label>
                            <input asp-for="OrderName" id="txtName" class="form-control" />
                            <span asp-validation-for="OrderName" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Email </label>
                            <input asp-for="OrderEmail" id="txtName" class="form-control" />
                            <span asp-validation-for="OrderEmail" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            <select class="form-control" id="Status" asp-for="PaymentStatus" >

                                <option value="1" >Hủy tour</option>
                                <option value="2">Hoạt động</option>
                                <option value="0">Chờ liên hệ</option>


                            </select>
                        </div>

                   
                        <div class="form-group">
                            <label>Điện thoại :  </label>
                            <input asp-for="OrderPhone" type="text"   class="form-control" />
                            <span asp-validation-for="OrderPhone" class="text-danger"></span>
                        </div>
                   
                        <div class="form-group">
                            <label>Địa chỉ :  </label>
                            <input asp-for="OrderAddress" type="text" class="form-control"  />
                            <span asp-validation-for="OrderAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Giá tiền :  </label>
                            <input asp-for="TotalMoney" type="text" class="form-control"  />
                            <span asp-validation-for="TotalMoney" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

